.main-title {
    margin-bottom: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--header-link);    
    font-size: 28px;
    font-weight: 700;
    line-height: calc(33 / 28);    
    @include desktop{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    }
}