.features .container{
    
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop{    
    padding-top: 94px;
    padding-bottom: 0;
    }
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    @include desktop{
    flex-wrap: nowrap;      
    }
    gap: 30px;
}

.features-item {
    width: 100%;
    @include tablet{
    flex-basis: calc((100% - 30px) / 2);    
    }
    @include desktop
    {flex-basis: calc((100% - 90px) / 4);
    max-width: 270px;
}}

.features-icon {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.features-title {
    text-align: center;
    @include tablet{
    text-align: left;
    }
    margin-bottom: 10px;
    color: var(--header-link);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.features-text {
    font-size: 12px;
    line-height: 1.71;
@include mobile{
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;  
}
}